@media (max-width: 450px) {
  
#twocol {
    display: flex;
    
    width: 100%;
    flex-direction: column;

}

#content{
      
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }


}
@media (min-width: 451px) {
 
#twocol {
    display: flex;
    margin: auto;
    width: 80%;
     
}

#content{
      
        display: flex;
        flex-direction: column;
        
        width: 30%;
    }

}



body {
    background-color: #28aadc;
  }

h1{

color:#0C6B8F;
} 

h2,h3{
color:#E24061;
}
    

    .containerD{
       
      
       display: flex;
       align-items: flex-start;
    }
   
    

    .item{
        background: white;
        display: flex;
        flex-direction: column; 
       
        margin: 5px; 
        min-width: 150px;
        border-left: 12px solid #0C6B8F;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    }

    .header{

        background: white;
        margin: 10px 0px 10px 0px;
        padding: 0;
        padding: 10px;
       
    }


.description{
  
  margin: 5px;
  background: white;
  border-left: 12px solid #0C6B8F;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

    .header h2{
        margin: 0px;
    }
    .item-header{
        
        margin: 1px;
        text-align: center;
    }

    .sk span{

        padding-left: 10px;

    }
    .menu{
        align-self: center;
        justify-content: flex-end;
        margin-left: auto;
        padding-left: 5px;
    }
    .name{
       
        margin: 0;
    }
    .desc{
       
        font-weight: 100;
    }

    .header .container{

        
    display: flex;
    justify-content: flex-start;
    margin: auto;
    width: 80%;

    }

    .social{
        display: flex;
        font-size: 20px;
        list-style-type: none;

    }
    .social div{

        margin: 5px;
        margin-top: 10px;
    }
    .social a{
        
        background: #0C6B8F;
        border-radius: 50% 50% 50% 50%;
        color: white;
        padding: 5px;
        text-decoration: none;
        
        
    }

    .profile-content{
        align-items: center;
        display: flex;
        padding: 30px 10px 30px 10px;

    }

    .profile{
        align-items: flex-start;
        display: flex;
        flex-direction:column;
    }
    .button:hover, .button:focus {
    background-color: #A9A00E;
    
    }

    .button {
        
            -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
   
    background-color: #8F8913;
    border-color: #8F8913;
    color: #FFFFFF;
   
    }


}



 


